@model MyFirstCloudWebsite.Models.InputValues
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#btnPer, #btnCom').click(function ()
            {
                $('#hdnOperation').val($(this).attr('id').replace('btn', ''));
                $('#indexForm').submit();
            });

        });
    </script>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "indexForm"}))
    {
        <table>
            <tr>
                <td>N:</td>
                <td>
                    @Html.TextBoxFor(m => m.N)
                </td>
            </tr>
            <tr>
                <td>R:</td>
                <td>
                    @Html.TextBoxFor(m => m.R)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="hidden" name="hdnOperation" id="hdnOperation" />
                    <input type="button" id="btnPer" value="Calculate Permutation" class="btn btn-info" />
                    <input type="button" id="btnCom" value="Calculate Combination" class="btn btn-info" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.Raw(@ViewBag.Result)
                </td>
            </tr>
        </table>
    }
</div>